known
*.swp
.weechat/*.log
.weechat/logs/*
.vimbundles/__spell/.netrwhist
.netrc
.offlineimap/Repository-*
.offlineimap/Account-*
.offlineimap/pid
.offlineimap/*.pyc
.mutt/temp/*
.mutt/alias
.mutt/lists
.tmux/plugins/*
/.config/thefuck/settings.pyc
.DS_Store
.config/gqrx
.config/gtk-2.0
.config/hub
.config/inkscape
.config/rtv
.config/xm1
.config/configstore
.config/heroku
.vim/.netrwhist
.config/thefuck/__pycache__/
.vim/autoload/plug.vim.old
.xmonad/xmonad-arm-linux
.fonts/.uuid
bin/nvim
*.zwc
