[submodule ".vim/stow/nerdcommenter"]
	path = .vim/stow/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/stow/nerdtree"]
	path = .vim/stow/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/stow/gitosis"]
	path = .vim/stow/gitosis
	url = git://github.com/timcharper/gitosis.vim.git
