[submodule ".vimbundles/vim-cucumber"]
	path = .vimbundles/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule ".vimbundles/vim-vividchalk"]
	path = .vimbundles/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule ".vimbundles/vim-haml"]
	path = .vimbundles/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule ".vimbundles/vim-endwise"]
	path = .vimbundles/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule ".vimbundles/vim-surround"]
	path = .vimbundles/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vimbundles/vim-repeat"]
	path = .vimbundles/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule ".vimbundles/ack"]
	path = .vimbundles/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vimbundles/vim-git"]
	path = .vimbundles/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule ".vimbundles/vim-fugitive"]
	path = .vimbundles/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vimbundles/vim-pastie"]
	path = .vimbundles/vim-pastie
	url = git://github.com/tpope/vim-pastie.git
[submodule ".vimbundles/gitosis"]
	path = .vimbundles/gitosis
	url = git://github.com/timcharper/gitosis.vim.git
[submodule ".vimbundles/snipmate"]
	path = .vimbundles/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".vimbundles/gist-vim"]
	path = .vimbundles/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule ".vimbundles/vim-markdown"]
	path = .vimbundles/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "bin/growlme.git"]
	path = bin/growlme.git
	url = git://github.com/robey/growlme.git
[submodule ".vimbundles/vim-scratch"]
	path = .vimbundles/vim-scratch
	url = git://github.com/vim-scripts/scratch.vim.git
[submodule ".vimbundles/vim-yankring"]
	path = .vimbundles/vim-yankring
	url = https://github.com/vim-scripts/YankRing.vim
[submodule ".vimbundles/vim-json"]
	path = .vimbundles/vim-json
	url = git://github.com/vim-scripts/vim-json-bundle.git
[submodule ".vimbundles/vim-ragtag"]
	path = .vimbundles/vim-ragtag
	url = http://github.com/tpope/vim-ragtag.git
[submodule ".vimbundles/tabular"]
	path = .vimbundles/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vimbundles/vim-ruby-runner"]
	path = .vimbundles/vim-ruby-runner
	url = https://github.com/henrik/vim-ruby-runner.git
[submodule ".vimbundles/vim-easymotion"]
	path = .vimbundles/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vimbundles/gitv"]
	path = .vimbundles/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule ".vimbundles/scala-vim-support"]
	path = .vimbundles/scala-vim-support
	url = git://github.com/chrismetcalf/scala-vim-support.git
[submodule ".vimbundles/scala-vim-snippets"]
	path = .vimbundles/scala-vim-snippets
	url = git://github.com/chrismetcalf/scala-vim-snippets.git
[submodule ".vimbundles/vim-idlefingers"]
	path = .vimbundles/vim-idlefingers
	url = https://github.com/shinzui/vim-idleFingers.git
[submodule ".vimbundles/gundo.vim"]
	path = .vimbundles/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule ".vimbundles/vim-powerline.git"]
	path = .vimbundles/vim-powerline.git
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vimbundles/badwolf.git"]
	path = .vimbundles/badwolf.git
	url = https://github.com/sjl/badwolf.git
[submodule ".vimbundles/vim-r-plugin.git"]
	path = .vimbundles/vim-r-plugin.git
	url = https://github.com/jcfaria/Vim-R-plugin.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vimbundles/webapi-vim.git"]
	path = .vimbundles/webapi-vim.git
	url = https://github.com/mattn/webapi-vim.git
[submodule ".vimbundles/vim-eunich.git"]
	path = .vimbundles/vim-eunich.git
	url = https://github.com/tpope/vim-eunuch
[submodule ".vimbundles/vim-commentary.git"]
	path = .vimbundles/vim-commentary.git
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vimbundles/vim-rake.git"]
	path = .vimbundles/vim-rake.git
	url = https://github.com/tpope/vim-rake.git
[submodule ".vimbundles/SyntaxAttr.vim.git"]
	path = .vimbundles/SyntaxAttr.vim.git
	url = git://github.com/vim-scripts/SyntaxAttr.vim.git
[submodule ".vimbundles/vim-jade.git"]
	path = .vimbundles/vim-jade.git
	url = git://github.com/digitaltoad/vim-jade.git
[submodule ".vimbundles/syntastic.git"]
	path = .vimbundles/syntastic.git
	url = git://github.com/scrooloose/syntastic.git
[submodule ".tomorrow-theme.git"]
	path = .tomorrow-theme.git
	url = git://github.com/chriskempson/tomorrow-theme.git
[submodule ".vimbundles/delimitMate.git"]
	path = .vimbundles/delimitMate.git
	url = git://github.com/Raimondi/delimitMate.git
[submodule ".vimbundles/vim-browsereload-mac.git"]
	path = .vimbundles/vim-browsereload-mac.git
	url = git://github.com/tell-k/vim-browsereload-mac.git
[submodule ".vimbundles/vim-easymotion.git"]
	path = .vimbundles/vim-easymotion.git
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule ".vimbundles/neocomplcache.git"]
	path = .vimbundles/neocomplcache.git
	url = git://github.com/Shougo/neocomplcache.git
[submodule ".vimbundles/tagbar.git"]
	path = .vimbundles/tagbar.git
	url = git://github.com/majutsushi/tagbar.git
[submodule ".vimbundles/ctrlp.vim.git"]
	path = .vimbundles/ctrlp.vim.git
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vimbundles/slimux.git"]
	path = .vimbundles/slimux.git
	url = git://github.com/epeli/slimux.git
