snippet fdate
	`strftime("%Y-%m-%d")`

snippet apptoken
	CGxaHQoQlgQSev4zyUh5aR5J3

snippet lorem
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum augue ac lorem malesuada at rhoncus turpis condimentum. Maecenas commodo sem ac magna posuere ultrices. Proin ut felis ac odio consectetur rutrum vel quis sem.

snippet linline
	<a class="exec" href="http://live-docs.socrata.com/${1}/inline/${2}.json${3}">http://$1/resource/$2.json$3</a> 
